In [1]:
import pandas as pd
import os
import glob

In [2]:
# stmf_df = pd.read_csv('../resources/dataset/stmf.csv',header=1)
# stmf_df.info()

In [3]:
# aus_df = pd.read_csv('../resources/dataset/STMFinput/AUS2stmf.csv')#,header=1)
# aus_df.describe()

In [4]:
# read and merge all the CSV dataset in STMFinput/
path = '../resources/dataset/STMFinput'

all_files = glob.glob(os.path.join(path, "*.csv"))
df = pd.concat((pd.read_csv(f) for f in all_files))

<ipython-input-4-476828386cb5>:5: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in all_files))
<ipython-input-4-476828386cb5>:5: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in all_files))

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2054448 entries, 0 to 4915
Data columns (total 13 columns):
 #   Column       Dtype
---  ------       -----
 0   PopCode      object
 1   Area         int64
 2   Year         float64
 3   Week         object
 4   Sex          object
 5   Age          object
 6   AgeInterval  object
 7   Deaths       object
 8   Type         object
 9   Access       object
 10  PopCode      object
 11  Year         float64
 12  Week         float64
dtypes: float64(3), int64(1), object(9)
memory usage: 219.4+ MB

In [7]:
df.head(20)

,PopCode,Area,Year,Week,Sex,Age,AgeInterval,Deaths,Type,Access,PopCode,Year,Week
0,AUS2,1,2015.0,1,m,0,45,33,O,O,NaN,NaN,NaN
1,AUS2,1,2015.0,1,m,45,20,183,O,O,NaN,NaN,NaN
2,AUS2,1,2015.0,1,m,65,10,204,O,O,NaN,NaN,NaN
3,AUS2,1,2015.0,1,m,75,10,398,O,O,NaN,NaN,NaN
4,AUS2,1,2015.0,1,m,85,+,394,O,O,NaN,NaN,NaN
5,AUS2,1,2015.0,1,m,TOT,.,1212,O,O,NaN,NaN,NaN
6,AUS2,1,2015.0,1,f,0,45,30,O,O,NaN,NaN,NaN
7,AUS2,1,2015.0,1,f,45,20,118,O,O,NaN,NaN,NaN
8,AUS2,1,2015.0,1,f,65,10,154,O,O,NaN,NaN,NaN
9,AUS2,1,2015.0,1,f,75,10,323,O,O,NaN,NaN,NaN
10,AUS2,1,2015.0,1,f,85,+,676,O,O,NaN,NaN,NaN
11,AUS2,1,2015.0,1,f,TOT,.,1301,O,O,NaN,NaN,NaN
12,AUS2,1,2015.0,1,b,0,45,63,O,O,NaN,NaN,NaN
13,AUS2,1,2015.0,1,b,45,20,301,O,O,NaN,NaN,NaN
14,AUS2,1,2015.0,1,b,65,10,358,O,O,NaN,NaN,NaN
15,AUS2,1,2015.0,1,b,75,10,721,O,O,NaN,NaN,NaN
16,AUS2,1,2015.0,1,b,85,+,1070,O,O,NaN,NaN,NaN
17,AUS2,1,2015.0,1,b,TOT,.,2513,O,O,NaN,NaN,NaN
18,AUS2,1,2015.0,2,m,0,45,37,O,O,NaN,NaN,NaN
19,AUS2,1,2015.0,2,m,45,20,135,O,O,NaN,NaN,NaN