In [1]:
import pandas as pd
import numpy as np
import os
import glob

In [2]:
stmf_df = pd.read_csv('../resources/dataset/stmf.csv',header=1)
stmf_df#.info()

,CountryCode,Year,Week,Sex,D0_14,D15_64,D65_74,D75_84,D85p,DTotal,R0_14,R15_64,R65_74,R75_84,R85p,RTotal,Split,SplitSex,Forecast
0,AUS2,2015,1,m,5.037600,210.962400,204.0,398.0,394.0,1212.0,0.000113,0.001395,0.010716,0.041683,0.119154,0.005326,1,0,0
1,AUS2,2015,1,f,6.758007,141.241993,154.0,323.0,676.0,1301.0,0.000160,0.000929,0.007869,0.028785,0.118644,0.005641,1,0,0
2,AUS2,2015,1,b,11.795607,352.204393,358.0,721.0,1070.0,2513.0,0.000136,0.001161,0.009273,0.034714,0.118831,0.005484,1,0,0
3,AUS2,2015,2,m,5.648218,166.351782,216.0,343.0,399.0,1130.0,0.000127,0.001100,0.011347,0.035923,0.120666,0.004966,1,0,0
4,AUS2,2015,2,f,6.983274,149.016726,147.0,290.0,646.0,1239.0,0.000166,0.000980,0.007511,0.025844,0.113378,0.005372,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
107206,USA,2021,32,f,215.000000,6602.000000,5742.0,7039.0,9883.0,29481.0,0.000384,0.003234,0.016693,0.038094,0.117439,0.009174,0,0,1
107207,USA,2021,32,b,481.000000,17877.000000,13314.0,14725.0,16451.0,62848.0,0.000421,0.004381,0.020654,0.044613,0.124156,0.009926,0,0,1
107208,USA,2021,33,m,274.000000,11650.000000,7753.0,7985.0,6889.0,34551.0,0.000469,0.005712,0.025787,0.054962,0.142486,0.011080,0,0,1
107209,USA,2021,33,f,223.000000,6921.000000,5761.0,7160.0,10142.0,30207.0,0.000399,0.003390,0.016748,0.038749,0.120516,0.009400,0,0,1
107210,USA,2021,33,b,497.000000,18571.000000,13514.0,15145.0,17031.0,64758.0,0.000435,0.004551,0.020964,0.045885,0.128533,0.010227,0,0,1

In [3]:
# read and merge all the CSV dataset in STMFinput/
path = '../resources/dataset/STMFinput'
all_files = glob.glob(os.path.join(path, "*.csv"))

df = pd.concat([pd.read_csv(f) for f in all_files], ignore_index=True)

/Users/kasarebaffour/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3357: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
/Users/kasarebaffour/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3357: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [6]:
clean_df = df[(df['Age']!='TOT') & (df['Age']!='UNK')].reset_index()
print(clean_df.info())
clean_df.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1881570 entries, 0 to 1881569
Data columns (total 14 columns):
 #   Column       Dtype
---  ------       -----
 0   index        int64
 1   PopCode      object
 2   Area         int64
 3   Year         float64
 4   Week         float64
 5   Sex          object
 6   Age          object
 7   AgeInterval  object
 8   Deaths       object
 9   Type         object
 10  Access       object
 11  Year         float64
 12  Week         object
 13  PopCode      object
dtypes: float64(3), int64(2), object(9)
memory usage: 201.0+ MB
None

,index,PopCode,Area,Year,Week,Sex,Age,AgeInterval,Deaths,Type,Access,Year,Week,PopCode
0,0,HRV,1,2000.0,1.0,m,0,5,3,O,O,NaN,NaN,NaN
1,1,HRV,1,2000.0,1.0,m,5,5,0,O,O,NaN,NaN,NaN
2,2,HRV,1,2000.0,1.0,m,10,5,1,O,O,NaN,NaN,NaN
3,3,HRV,1,2000.0,1.0,m,15,5,3,O,O,NaN,NaN,NaN
4,4,HRV,1,2000.0,1.0,m,20,5,1,O,O,NaN,NaN,NaN
5,5,HRV,1,2000.0,1.0,m,25,5,2,O,O,NaN,NaN,NaN
6,6,HRV,1,2000.0,1.0,m,30,5,1,O,O,NaN,NaN,NaN
7,7,HRV,1,2000.0,1.0,m,35,5,9,O,O,NaN,NaN,NaN
8,8,HRV,1,2000.0,1.0,m,40,5,9,O,O,NaN,NaN,NaN
9,9,HRV,1,2000.0,1.0,m,45,5,20,O,O,NaN,NaN,NaN
10,10,HRV,1,2000.0,1.0,m,50,5,25,O,O,NaN,NaN,NaN
11,11,HRV,1,2000.0,1.0,m,55,5,35,O,O,NaN,NaN,NaN
12,12,HRV,1,2000.0,1.0,m,60,5,50,O,O,NaN,NaN,NaN
13,13,HRV,1,2000.0,1.0,m,65,5,85,O,O,NaN,NaN,NaN
14,14,HRV,1,2000.0,1.0,m,70,5,92,O,O,NaN,NaN,NaN
15,15,HRV,1,2000.0,1.0,m,75,5,68,O,O,NaN,NaN,NaN
16,16,HRV,1,2000.0,1.0,m,80,5,49,O,O,NaN,NaN,NaN
17,17,HRV,1,2000.0,1.0,m,85,5,36,O,O,NaN,NaN,NaN
18,18,HRV,1,2000.0,1.0,m,90,+,25,O,O,NaN,NaN,NaN
19,21,HRV,1,2000.0,1.0,f,0,5,3,O,O,NaN,NaN,NaN

In [ ]:
clean_df.head()