In [1]:
import pandas as pd

In [6]:
stmf_df = pd.read_csv('../resources/dataset/stmf.csv',header=1)
stmf_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 107211 entries, 0 to 107210
Data columns (total 19 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   CountryCode  107211 non-null  object
 1   Year         107211 non-null  int64
 2   Week         107211 non-null  int64
 3   Sex          107211 non-null  object
 4   D0_14        107211 non-null  float64
 5   D15_64       107211 non-null  float64
 6   D65_74       107211 non-null  float64
 7   D75_84       107211 non-null  float64
 8   D85p         107211 non-null  float64
 9   DTotal       107211 non-null  float64
 10  R0_14        107211 non-null  float64
 11  R15_64       107211 non-null  float64
 12  R65_74       107211 non-null  float64
 13  R75_84       107211 non-null  float64
 14  R85p         107211 non-null  float64
 15  RTotal       107211 non-null  float64
 16  Split        107211 non-null  int64
 17  SplitSex     107211 non-null  int64
 18  Forecast     107211 non-null  int64
dtypes: float64(12), int64(5), object(2)
memory usage: 15.5+ MB

In [11]:
aus_df = pd.read_csv('../resources/dataset/STMFinput/AUS2stmf.csv')#,header=1)
aus_df.describe()

         Area         Year         Week       Deaths
count  6102.0  6102.000000  6102.000000  6102.000000
mean      1.0  2017.758112    25.660767   602.016060
std       0.0     1.886423    15.101687   666.252286
min       1.0  2015.000000     1.000000    13.000000
25%       1.0  2016.000000    13.000000   159.000000
50%       1.0  2018.000000    25.000000   366.000000
75%       1.0  2019.000000    39.000000   774.000000
max       1.0  2021.000000    53.000000  3369.000000