In [1]:
# import dependencies
import pandas as pd
import numpy as np
import os
import glob
import pycountry_convert as pc

In [2]:
# stmf_df = pd.read_csv('../resources/dataset/stmf.csv',header=1)
# stmf_df.info()

In [3]:
# read and merge all the CSV dataset in STMFinput/
path = '../resources/dataset/STMFinput'
all_files = glob.glob(os.path.join(path, "*.csv"))

df = pd.concat([pd.read_csv(f) for f in all_files], ignore_index=True)

C:\Users\NENEL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
C:\Users\NENEL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [4]:
def alpha3_to_continent(alpha3):
    alpha2 = pc.country_alpha3_to_country_alpha2(alpha3)
    cont_code = pc.country_alpha2_to_continent_code(alpha2)
    return pc.convert_continent_code_to_continent_name(cont_code)

In [5]:
# clean dataset
df['PopCode'] = df['PopCode'].replace(['a'], 'NOR')
df['iso_alpha3'] = df['PopCode'].apply(lambda x: x[:3])
df['continent'] = df['iso_alpha3'].apply(alpha3_to_continent)
df['Deaths'] = df['Deaths'].replace(['.'], '0')
df['Deaths'] = df['Deaths'].astype('int64')
clean_df = df[(df['Age']!='TOT') & (df['Age']!='UNK')].reset_index(drop=True)

print(clean_df.info())
print(clean_df.describe())
clean_df.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1881570 entries, 0 to 1881569
Data columns (total 12 columns):
 #   Column       Dtype
---  ------       -----
 0   PopCode      object
 1   Area         int64
 2   Year         int64
 3   Week         object
 4   Sex          object
 5   Age          object
 6   AgeInterval  object
 7   Deaths       int64
 8   Type         object
 9   Access       object
 10  iso_alpha3   object
 11  continent    object
dtypes: int64(3), object(9)
memory usage: 172.3+ MB
None
            Area          Year        Deaths
count  1881570.0  1.881570e+06  1.881570e+06
mean         1.0  2.010774e+03  1.658769e+02
std          0.0  6.543254e+00  5.825916e+02
min          1.0  1.990000e+03  0.000000e+00
25%          1.0  2.005000e+03  3.000000e+00
50%          1.0  2.011000e+03  1.900000e+01
75%          1.0  2.016000e+03  9.900000e+01
max          1.0  2.021000e+03  2.634200e+04

,PopCode,Area,Year,Week,Sex,Age,AgeInterval,Deaths,Type,Access,iso_alpha3,continent
0,AUS2,1,2015,1,m,0,45,33,O,O,AUS,Oceania
1,AUS2,1,2015,1,m,45,20,183,O,O,AUS,Oceania
2,AUS2,1,2015,1,m,65,10,204,O,O,AUS,Oceania
3,AUS2,1,2015,1,m,75,10,398,O,O,AUS,Oceania
4,AUS2,1,2015,1,m,85,+,394,O,O,AUS,Oceania
5,AUS2,1,2015,1,f,0,45,30,O,O,AUS,Oceania
6,AUS2,1,2015,1,f,45,20,118,O,O,AUS,Oceania
7,AUS2,1,2015,1,f,65,10,154,O,O,AUS,Oceania
8,AUS2,1,2015,1,f,75,10,323,O,O,AUS,Oceania
9,AUS2,1,2015,1,f,85,+,676,O,O,AUS,Oceania
10,AUS2,1,2015,1,b,0,45,63,O,O,AUS,Oceania
11,AUS2,1,2015,1,b,45,20,301,O,O,AUS,Oceania
12,AUS2,1,2015,1,b,65,10,358,O,O,AUS,Oceania
13,AUS2,1,2015,1,b,75,10,721,O,O,AUS,Oceania
14,AUS2,1,2015,1,b,85,+,1070,O,O,AUS,Oceania
15,AUS2,1,2015,2,m,0,45,37,O,O,AUS,Oceania
16,AUS2,1,2015,2,m,45,20,135,O,O,AUS,Oceania
17,AUS2,1,2015,2,m,65,10,216,O,O,AUS,Oceania
18,AUS2,1,2015,2,m,75,10,343,O,O,AUS,Oceania
19,AUS2,1,2015,2,m,85,+,399,O,O,AUS,Oceania

In [6]:
%store clean_df

Stored 'clean_df' (DataFrame)