In [1]:
# import dependencies
import pandas as pd
import numpy as np
import os
import glob
import pycountry_convert as pc

In [2]:
# !pip install pycountry-convert
# stmf_df = pd.read_csv('../resources/dataset/stmf.csv',header=1)
# stmf_df.info()

In [3]:
# read and merge all the CSV dataset in STMFinput/
path = '../resources/dataset/STMFinput'
all_files = glob.glob(os.path.join(path, "*.csv"))

df = pd.concat([pd.read_csv(f) for f in all_files], ignore_index=True)

/Users/kasarebaffour/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3357: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
/Users/kasarebaffour/opt/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3357: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [4]:
def alpha3_to_continent(alpha3):
    alpha2 = pc.country_alpha3_to_country_alpha2(alpha3)
    cont_code = pc.country_alpha2_to_continent_code(alpha2)
    return pc.convert_continent_code_to_continent_name(cont_code)

In [5]:
# clean dataset
df['PopCode'] = df['PopCode'].replace(['a'], 'NOR')
df['iso_alpha3'] = df['PopCode'].apply(lambda x: x[:3])
df['continent'] = df['iso_alpha3'].apply(alpha3_to_continent)
df['Deaths'] = df['Deaths'].replace(['.'], '0')
df['Deaths'] = df['Deaths'].astype('int64')
clean_df = df[(df['Age']!='TOT') & (df['Age']!='UNK')]
all_clean_df = clean_df[clean_df['Sex']=='b'].reset_index(drop=True)
clean_df = clean_df[clean_df['Sex']!='b'].reset_index(drop=True)
print(clean_df.info())
print(clean_df.describe())
clean_df.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1254796 entries, 0 to 1254795
Data columns (total 12 columns):
 #   Column       Non-Null Count    Dtype
---  ------       --------------    -----
 0   PopCode      1254796 non-null  object
 1   Area         1254796 non-null  int64
 2   Year         1254796 non-null  int64
 3   Week         1254796 non-null  object
 4   Sex          1254796 non-null  object
 5   Age          1254796 non-null  object
 6   AgeInterval  1254796 non-null  object
 7   Deaths       1254796 non-null  int64
 8   Type         1254796 non-null  object
 9   Access       1254796 non-null  object
 10  iso_alpha3   1254796 non-null  object
 11  continent    1254796 non-null  object
dtypes: int64(3), object(9)
memory usage: 114.9+ MB
None
            Area          Year        Deaths
count  1254796.0  1.254796e+06  1.254796e+06
mean         1.0  2.010779e+03  1.203385e+02
std          0.0  6.546375e+00  3.668261e+02
min          1.0  1.990000e+03  0.000000e+00
25%          1.0  2.005000e+03  2.000000e+00
50%          1.0  2.011000e+03  1.500000e+01
75%          1.0  2.016000e+03  7.700000e+01
max          1.0  2.021000e+03  1.575600e+04

,PopCode,Area,Year,Week,Sex,Age,AgeInterval,Deaths,Type,Access,iso_alpha3,continent
0,HRV,1,2000,1,m,0,5,3,O,O,HRV,Europe
1,HRV,1,2000,1,m,5,5,0,O,O,HRV,Europe
2,HRV,1,2000,1,m,10,5,1,O,O,HRV,Europe
3,HRV,1,2000,1,m,15,5,3,O,O,HRV,Europe
4,HRV,1,2000,1,m,20,5,1,O,O,HRV,Europe
5,HRV,1,2000,1,m,25,5,2,O,O,HRV,Europe
6,HRV,1,2000,1,m,30,5,1,O,O,HRV,Europe
7,HRV,1,2000,1,m,35,5,9,O,O,HRV,Europe
8,HRV,1,2000,1,m,40,5,9,O,O,HRV,Europe
9,HRV,1,2000,1,m,45,5,20,O,O,HRV,Europe
10,HRV,1,2000,1,m,50,5,25,O,O,HRV,Europe
11,HRV,1,2000,1,m,55,5,35,O,O,HRV,Europe
12,HRV,1,2000,1,m,60,5,50,O,O,HRV,Europe
13,HRV,1,2000,1,m,65,5,85,O,O,HRV,Europe
14,HRV,1,2000,1,m,70,5,92,O,O,HRV,Europe
15,HRV,1,2000,1,m,75,5,68,O,O,HRV,Europe
16,HRV,1,2000,1,m,80,5,49,O,O,HRV,Europe
17,HRV,1,2000,1,m,85,5,36,O,O,HRV,Europe
18,HRV,1,2000,1,m,90,+,25,O,O,HRV,Europe
19,HRV,1,2000,1,f,0,5,3,O,O,HRV,Europe

In [6]:
%store clean_df all_clean_df

Stored 'clean_df' (DataFrame)
Stored 'all_clean_df' (DataFrame)