In [1]:
import pandas as pd
import os
import glob

In [2]:
# stmf_df = pd.read_csv('../resources/dataset/stmf.csv',header=1)
# stmf_df.info()

In [3]:
# aus_df = pd.read_csv('../resources/dataset/STMFinput/AUS2stmf.csv')#,header=1)
# aus_df.describe()

In [4]:
# read and merge all the CSV dataset in STMFinput/
path = '../resources/dataset/STMFinput'

all_files = glob.glob(os.path.join(path, "*.csv"))
df = pd.concat((pd.read_csv(f) for f in all_files))

<ipython-input-4-476828386cb5>:5: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in all_files))
<ipython-input-4-476828386cb5>:5: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  df = pd.concat((pd.read_csv(f) for f in all_files))

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2054448 entries, 0 to 50753
Data columns (total 13 columns):
 #   Column       Dtype
---  ------       -----
 0   PopCode      object
 1   Area         int64
 2   Year         float64
 3   Week         float64
 4   Sex          object
 5   Age          object
 6   AgeInterval  object
 7   Deaths       object
 8   Type         object
 9   Access       object
 10  Year         float64
 11  Week         object
 12  PopCode      object
dtypes: float64(3), int64(1), object(9)
memory usage: 219.4+ MB

In [6]:
df.head()

,PopCode,Area,Year,Week,Sex,Age,AgeInterval,Deaths,Type,Access,Year,Week,PopCode
0,HRV,1,2000.0,1.0,m,0,5,3,O,O,NaN,NaN,NaN
1,HRV,1,2000.0,1.0,m,5,5,0,O,O,NaN,NaN,NaN
2,HRV,1,2000.0,1.0,m,10,5,1,O,O,NaN,NaN,NaN
3,HRV,1,2000.0,1.0,m,15,5,3,O,O,NaN,NaN,NaN
4,HRV,1,2000.0,1.0,m,20,5,1,O,O,NaN,NaN,NaN

In [ ]:
df.loc[["PopCode","Year"]]