In [1]:
import pandas as pd
import numpy as np
import os
import glob

In [2]:
# stmf_df = pd.read_csv('../resources/dataset/stmf.csv',header=1)
# stmf_df.info()

In [3]:
# read and merge all the CSV dataset in STMFinput/
path = '../resources/dataset/STMFinput'
all_files = glob.glob(os.path.join(path, "*.csv"))

df = pd.concat([pd.read_csv(f) for f in all_files], ignore_index=True)

C:\Users\NENEL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (3) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):
C:\Users\NENEL\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3357: DtypeWarning: Columns (7) have mixed types.Specify dtype option on import or set low_memory=False.
  if (await self.run_code(code, result,  async_=asy)):

In [14]:
clean_df = df[(df['Age']!='TOT') & (df['Age']!='UNK')].reset_index()
print(clean_df.info())
clean_df.head(20)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1881570 entries, 0 to 1881569
Data columns (total 11 columns):
 #   Column       Dtype
---  ------       -----
 0   index        int64
 1   PopCode      object
 2   Area         int64
 3   Year         int64
 4   Week         object
 5   Sex          object
 6   Age          object
 7   AgeInterval  object
 8   Deaths       object
 9   Type         object
 10  Access       object
dtypes: int64(3), object(8)
memory usage: 157.9+ MB
None

    index PopCode  Area  Year Week Sex Age AgeInterval Deaths Type Access
0       0    AUS2     1  2015    1   m   0          45     33    O      O
1       1    AUS2     1  2015    1   m  45          20    183    O      O
2       2    AUS2     1  2015    1   m  65          10    204    O      O
3       3    AUS2     1  2015    1   m  75          10    398    O      O
4       4    AUS2     1  2015    1   m  85           +    394    O      O
5       6    AUS2     1  2015    1   f   0          45     30    O      O
6       7    AUS2     1  2015    1   f  45          20    118    O      O
7       8    AUS2     1  2015    1   f  65          10    154    O      O
8       9    AUS2     1  2015    1   f  75          10    323    O      O
9      10    AUS2     1  2015    1   f  85           +    676    O      O
10     12    AUS2     1  2015    1   b   0          45     63    O      O
11     13    AUS2     1  2015    1   b  45          20    301    O      O
12     14    AUS2     1  2015    1   b  65          10    358    O      O
13     15    AUS2     1  2015    1   b  75          10    721    O      O
14     16    AUS2     1  2015    1   b  85           +   1070    O      O
15     18    AUS2     1  2015    2   m   0          45     37    O      O
16     19    AUS2     1  2015    2   m  45          20    135    O      O
17     20    AUS2     1  2015    2   m  65          10    216    O      O
18     21    AUS2     1  2015    2   m  75          10    343    O      O
19     22    AUS2     1  2015    2   m  85           +    399    O      O

In [7]:
clean_df.describe()

              index       Area          Year           Week           Year
count  1.881570e+06  1881570.0  137823.000000  137823.000000  1.743747e+06
mean   1.028119e+06        1.0    2010.660238      26.306284  2.010783e+03
std    5.943509e+05        0.0       6.225574      15.019813  6.567626e+00
min    0.000000e+00        1.0    2000.000000       1.000000  1.990000e+03
25%    5.147582e+05        1.0    2005.000000      13.000000  2.005000e+03
50%    1.022774e+06        1.0    2011.000000      26.000000  2.011000e+03
75%    1.545112e+06        1.0    2016.000000      39.000000  2.016000e+03
max    2.054446e+06        1.0    2021.000000      53.000000  2.021000e+03